<%= form_with(model: @picture, local: true, url:choose_new_or_edit) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :コメント %>
    <%= form.text_area :content, id: :picture_content %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :picture_image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <% if false %>
      <div class="field">
        <%= form.label :user_id %>
        <%= form.number_field :user_id, id: :picture_user_id %>
      </div>
    
      
      <div class="field">
        <%= form.label :user_id %>
        <%= form.text_field :user_id, id: :picture_user_id %>
      </div>
  <% end %>

  <div class="actions">
    <%= form.submit "画像を投稿する"%>
  </div>
<% end %>
